{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'create_post.css' %}">
    <title>Create Post</title>
  </head>
  <body>
    <h1>Create Post...</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form_btn">Post</button>
        <a class="cancel_btn" href="{% url 'home' %}">Cancel</a>
  </body>
</html>
